body
{
  margin: 0px;
  padding: 0px;
}

@mixin transition($transition) {
  -webkit-transition: $transition; /* For Safari 3.1 to 6.0 */
  transition: $transition;
}

div.first
{
  width: 100%;
  height: 100%;
  position: absolute;
  @include transition(width 2s);
  background: #000000;
}

div.second
{
  width: 100%;
  height: 100%;
  position: absolute;
  @include transition(width 2s);
  background: #000A0F;
}

div.third
{
  width: 100%;
  height: 100%;
  position: absolute;
  @include transition(width 2s);
  background: #011100;
}