body {
  margin: 0px;
  padding: 0px; }

div.first {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  background: #000000; }

div.second {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  background: #000A0F; }

div.third {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  background: #011100; }

/*# sourceMappingURL=app.css.map */
